/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h2 {
    font-size: 2rem;
    color: #2F327D; 
    margin-bottom: 10px;
}
.title-second-color {
    color: #00CBB8;
}

p {
    font-size: 16px;
    color: #696984;
    margin-bottom: 40px;
}

/* Hero Section */
.hero {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    justify-content: center;
    text-align: left;
}
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
.hero h2 {
    background-color: #fff;
    background-size: contain;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

/* sobre nuestra plataforma*/
.nosotros-platforma {
    text-align: center;
    padding: 80px;
    background-color: #ffffff;
}
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card-opposite {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-image: url('imagenes/opposite.webp');
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card-Objects {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-image: url('imagenes/objects.webp');
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-Difficult {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-image: url('imagenes/difficult.webp');
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card-opposite h3, .card-Objects h3, .card-Difficult h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px;
}
.card-opposite:hover, .card-Objects:hover, .card-Difficult:hover {
    transform: scale(1.05);
}
/* botones de las tarjetas*/
.opposite,.Objects, .Difficult {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid rgba(28, 216, 237, 0.9);
    border-radius: 80px;
    background-color: rgba(28, 216, 237, 0.9);
    color: #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
}

/*page oppositve*/

.intro {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 50px;
    text-align: center;
}
.container-como-funciona {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; /* Alinea los elementos verticalmente en el centro */ 
    justify-content: center; /* Alinea los elementos horizontalmente en el centro */ 
    max-width: 1200px; margin: 0 auto; /* Centro horizontalmente el contenedor */ 
}
.como-funciona{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.imagen-container {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.imagen-como-funciona {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.call-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-content {
    flex: 1;
    max-width:570px;
    padding: 20px;
    color: #696984;
}

.lista-pasos {
    list-style: none;
    padding: 0;
}

.lista-pasos li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #555;
    text-align: justify;
}

.lista-pasos i {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    color: #2F327D; 
}

.cta {
    background-image: url('Imagenes/CTA.webp');
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
    color: white; 
    padding: 20px;
    text-align: center; 
    margin: 20px 0;
    border-radius: 5px; 
}
.cta h2, .cta p {
    color: #ffffff;
}

.btn-cta {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid rgba(28, 216, 237, 0.9);
    border-radius: 80px;
    background-color: rgba(28, 216, 237, 0.9);
    color: #FFFFFF;
    transition: background-color 0.3s, transform 0.3s;
}